@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div>
    <h3>Contacts</h3>
    <address>
        <ul>
            <li>
                <strong>email:</strong> <a href="mailto:lucaleone@outlook.com">lucaleone@outlook.com</a>
            </li>
            <li>
                <strong>Website:</strong> <a href="https://luca-leone.firebaseapp.com/">https://luca-leone.firebaseapp.com/</a>
            </li>
            <li>
                <strong>Linkedin:</strong> <a href="https://www.linkedin.com/in/lucaleone93/en">linkedin.com/in/lucaleone93/en</a>
            </li>
            <li>
                <strong>Github:</strong> <a href="https://github.com/lucaleone">github.com/lucaleone</a>
            </li>
            <li>
                <strong>CV:</strong> <a href="https://luca-leone.firebaseapp.com/assets/Luca_Leone_CV.pdf">CV/Resume</a>
            </li>
        </ul>
    </address>
</div>

<address>
    <strong>Support:</strong> <a href="mailto:lucaleone@outlook.com">lucaleone@outlook.com</a>
</address>
