@{
    ViewData["Title"] = "Delete Product";
}

<div class="row">
    <h1>Product deleted:</h1>
    <div>
        <h2>@Model.Name</h2>
        <div class="productImageAndDesc">
            <div>
                <ul>
                    <li>Price: <span>@Model.Price</span> €</li>
                    <li>Photo: <span>@Model.Photo </span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
